*:not(style, title, script){
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
:root{
  --bg: #333745;
  --alt1: #E63462;
  --alt2: #FE5F55;
  --alt3: #C7EFCF;
  --alt4: #EEF5DB;
}

body{
  background-color: var(--bg);
  color: var(--alt4);
  width: 100vw;
  height: 100vh;
}